html {
	background-color:#f5f5dc;
	font-family:"Calibri";
	font-size:20px;
}

table{
	table-layout:fixed;
	border: 2px solid black;
	width: 90%;
}
td{
	border: 1px solid;
	height:60px;
	font-weight:bold;
	text-align: center;
}
tr{
	text-align: center;
}

