html {
	background-color:#f5f5dc;
	font-family:"calibri";
}
input[type='checkbox'] {
    width:30px;
    height:30px;
}
table{
	table-layout:fixed;
	border: 2px solid black;
	width:85%;
}
td{
	border: 5px solid;
	text-align:center;
	font-weight:bold;
}

/* Colored borders for courses */
#SYSC{
	border-color:#990099;
}
#MATH{
	border-color:#339933;
}
#ECOR{
	border-color:black;
}
#CCDP{
	border-color:black;
}
#STAT{
	border-color:black;
}
#ELEC{
	border-color:#FF9900;
}
#PHYS{
	border-color:#FFFF33;
}